:root {
    --N: 1;
    --table_size: calc(min(65vw, 65vh));
}

table {
    width: var(--table_size);
    height: var(--table_size);
    background-color: var(--light-gray);
    border-collapse: collapse;
    border: 3px solid rgb(30,30,30);
}

td {
    text-align: center;
    padding: 0;
    margin: 0;
}

.black{
    background-color: rgb(80, 80, 80);
}

.white{
    background-color: rgb(248, 248, 248);
}

td div {
    width: calc( var(--table_size) / var(--N) );
    height: calc( var(--table_size) / var(--N) );
}
td img {
    width: calc( var(--table_size) / var(--N) * 0.9 );
    height: calc( var(--table_size) / var(--N) * 0.9 );
    object-fit: scale-down;
    margin: 0;
    padding: 0;
}