:root {
    --N: 1;
    --table_size: calc(min(65vw, 65vh));
}

.Simulator{
    width: 100%;
}

.view{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

table {
    width: var(--table_size);
    height: var(--table_size);
    background-color: var(--light-gray);
    border-collapse: collapse;
    border: 3px solid rgb(30,30,30);
    user-select : none;
}

td {
    text-align: center;
    padding: 0;
    margin: 0;
}

.black{
    background-color: rgb(80, 80, 80);
}

.white{
    background-color: rgb(248, 248, 248);
}

td div {
    width: calc( var(--table_size) / var(--N) );
    height: calc( var(--table_size) / var(--N) );
}
td img {
    width: calc( var(--table_size) / var(--N) * 0.9 );
    height: calc( var(--table_size) / var(--N) * 0.9 );
    object-fit: scale-down;
    margin: 0;
    padding: 0;
}

.arrow{
    color: rgb(150, 150, 150);
    font-size: calc( var(--table_size) / 5 );
}
.arrow:hover{
    color: rgb(30,30,30);
}

.start_pause{
    color: rgb(150, 150, 150);
    font-size: calc( var(--table_size) / 10 );
}
.start_pause:hover{
    color: rgb(30,30,30);
}