:root {
    --N: 1;
    --table_size: calc(min(55vw, 55vh));
    user-select : none;
}

.Simulator{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.view{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.25rem;
    margin-bottom: 5rem;
}

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: .5rem;
}
.top .n{
    font-size: 5rem;
}
.top .queen{
    font-size: 3.75rem;
    font-weight: 100;
}

.mid{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

table {
    width: var(--table_size);
    height: var(--table_size);
    background-color: var(--light-gray);
    border-collapse: collapse;
    border: 3px solid var(--darker-gray);
}

td {
    text-align: center;
    padding: 0;
    margin: 0;
}

.black{
    background-color: rgb(80, 80, 80);
}
.white{
    background-color: rgb(248, 248, 248);
}
.red{
    background-color: red;
    opacity: 0.5;
}

td div {
    width: calc( var(--table_size) / var(--N) );
    height: calc( var(--table_size) / var(--N) );
}
td img {
    width: calc( var(--table_size) / var(--N) * 0.9 - 0.3rem);
    height: calc( var(--table_size) / var(--N) * 0.9 - 0.3rem);
    object-fit: scale-down;
    margin-top: 0.2rem;
    padding: 0;
}

.bottom{
    width: var(--table_size);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: .5rem;
}

.bottom .showValue {
    align-items: center;
    width: 10rem;
}
.bottom .showValue .name{
    font-size: 0.9rem;
    text-align: center;
    color: var(--dark-gray);
}
.bottom .showValue .values{
    text-align: center;
}
.bottom .showValue .maxValue{
    font-size: 0.7rem;
    color: var(--gray);
}
.bottom .showValue .value{
    font-size: 1.75rem;
    font-weight: 500;
}

.bottom .start_pause{
    color: var(--gray);
    font-size: 4rem;
}
.bottom .start_pause:hover{
    color: var(--darker-gray);
}

.arrow{
    color: var(--gray);
    font-size: 7.5rem;
}
.arrow:hover{
    color: var(--darker-gray);
}

.FPSsetter{
    width: var(--table_size);
}
.FPSsetter .row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin: 0;
}
.FPSsetter .fps{
    font-size: .9rem;
    font-weight: 500;
}
.FPSsetter input[type=text]{
    font-size: 1.2rem;
    width: 4rem;
}
.FPSsetter input[type=range]{
    margin: 0;
}
.FPSsetter .desc{
    font-size: 0.5rem;
    color: var(--light-gray);
    text-align: end;
    margin: 0;
}
