p {
    margin: 0;
}

.Select {
    border: 1px solid var(--lighter-gray);
    padding: .75rem 1rem .75rem 1rem;
}

.r1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Code {
    color: var(--gray);
    font-size: .9rem;
}
.Code p {
    font-weight: 500;
    margin-top: -.2rem;
}
.Tags {
    display: flex;
    flex-direction: row;
}
.Tags .Tag {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: var(--lightest-gray);
    height: 1.5rem;
    margin-left: .3rem;
    border-radius: 1rem;
    border: 1px solid var(--lighter-gray);
}
.Tags .Tag p {
    color: var(--dark-gray);
    font-size: .75rem;
    margin: 0 .65rem .1rem .65rem;
    font-weight: 800;
}

.r2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .3rem 0 .1rem 0;
}
.Level img {
    width: 2.1rem;
    height: 2.1rem;
    margin-left: -.21rem;
    object-fit: contain;
}
.Title p {
    color: var(--darker-gray);
    margin: -.2rem 0 .5rem .4rem;
    font-size: 1.7rem;
    font-weight: 500;
}

.Description p{
    color: var(--dark-gray);
    font-size: .75rem;
    font-weight: 600;
}
.Src a {
    color: var(--gray);
    font-weight: 400;
    font-size: .75rem;
    text-decoration: none;
}
.Src a:hover{
    font-weight: 600;
}