:root{
    --darker-gray: rgb(30, 30, 30);
    --dark-gray: rgb(70, 70, 70);
    --gray: rgb(150, 150, 150);
    --light-gray: rgb(230, 230, 230);
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}