:root{
    --black: rgb(0, 0, 0);
    --darker-gray: rgb(30, 30, 30);
    --dark-gray: rgb(70, 70, 70);
    --gray: rgb(150, 150, 150);
    --light-gray: rgb(190, 190, 190);
    --lighter-gray: rgb(230, 230, 230);
    --lightest-gray: rgb(245, 245, 245);
    --white: rgb(255, 255, 255);
}
a {
    text-decoration: none;
}
p{
    margin: 0;
}
button{
    border: 1px solid var(--lighter-gray);
    background-color: transparent;
}
button:hover{
    background-color: var(--lightest-gray);
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}